@*@model MvcBoardApp.Models.Comment*@
@model MvcBoardApp.ViewModels.Page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Create";
}
@if (SignInManager.IsSignedIn(User))
{
    <h1>Create</h1>

    <h4>Comment</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="comment.Id" />
                <input type="hidden" asp-for="comment.BoardId" />
                
                <div class="form-group">
                    <label asp-for="comment.CommentUserName" class="control-label">@User.Identity.Name</label>
                    <input asp-for="comment.CommentUserName" class="form-control" type="hidden" value="@User.Identity.Name" />
                    <span asp-validation-for="comment.CommentUserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="comment.CommentContent" class="control-label"></label>
                    <input asp-for="comment.CommentContent" class="form-control" />
                    <span asp-validation-for="comment.CommentContent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" asp-route-PageNumber="@Model.PageIndex" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-controller="Boards" asp-action="Details" asp-route-id="@Model.comment.BoardId" asp-route-PageNumber="@Model.PageIndex">Back to List</a>
    </div>
}
else
{
    <a asp-area="Identity" asp-page="/Account/Login">Login이 필요한 기능입니다. </a>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
