@*@model MvcBoardApp.Models.Comment*@
@model MvcBoardApp.ViewModels.Page
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.comment.CommentUserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.comment.CommentUserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.comment.CommentContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.comment.CommentContent)
        </dd>
    </dl>
</div>
<div>
    <input type="hidden" asp-for="comment.BoardId" />
    <a asp-action="Edit" asp-route-id="@Model.comment.Id" asp-route-PageNumber="@Model.PageIndex">Edit</a> |
    <a asp-controller="Boards" asp-action="Details" asp-route-id="@Model.comment.BoardId" asp-route-PageNumber="@Model.PageIndex">Back to List</a>
</div>
