@model MvcBoardApp.Models.Comment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C_UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C_UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.content)
        </dd>
    </dl>
</div>
<div>
    <input type="hidden" asp-for="BoardId" />
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller="Boards" asp-action="Details" asp-route-id="@Model.BoardId">Back to List</a>
</div>
