@model MvcBoardApp.Models.Board



@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Board</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WriteTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WriteTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hits)
        </dd>
    </dl>
</div>
<div>
    <a asp-area="" asp-controller="Comments" asp-action="Create" asp-route-id="@Model.Id">Comment</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@await Html.PartialAsync("/views/comments/_example.cshtml", new ViewDataDictionary(new Microsoft.AspNetCore.Mvc.ModelBinding.EmptyModelMetadataProvider(), new Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary())) { { "id", Model.Id } });

