@*@model MvcBoardApp.Models.Board*@
@model MvcBoardApp.ViewModels.Page
@using MvcBoardApp.Data
@*@model PaginatedList<MvcBoardApp.Models.Board>*@
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Edit";
}
@if (User.Identity.Name == Model.board.UserName)
{
    <h1>Edit</h1>

    <h4>Board</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="hidden" asp-for="board.Id" />
                    <label asp-for="board.UserName" class="control-label"></label>
                    <input asp-for="board.UserName" class="form-control" type="hidden" value="@Model.board.UserName" />
                    <span asp-validation-for="board.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="board.Subject" class="control-label"></label>
                    <input asp-for="board.Subject" class="form-control" />
                    <span asp-validation-for="board.Subject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="board.Content" class="control-label"></label>
                    <input asp-for="board.Content" class="form-control" />
                    <span asp-validation-for="board.Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="board.WriteDate" class="form-control" type="hidden" value="@DateTime.Now" />
                    <span asp-validation-for="board.WriteDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" asp-route-pageNumber="@Model.PageIndex" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index" asp-route-pageNumber="@Model.PageIndex">Back to List</a>
    </div>
}
else if (SignInManager.IsSignedIn(User))
{
    <a asp-action="Index" asp-route-pageNumber="@Model.PageIndex">권한이 없습니다. 이전으로 돌아가기</a>
}
else
{
    <a asp-area="Identity" asp-page="/Account/Login">로그인이 필요합니다.</a>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
