@model  MvcBoardApp.ViewModels.BoardComment
@{
    ViewData["Title"] = "GetBoardComment";
    //Layout = "~/Views/Boards/BoardComment.cshtml";
}


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Board</h4>
    <hr />


    <p></p>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.board.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.board.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.board.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.board.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.board.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.board.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.board.WriteTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.board.WriteTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.board.Hits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.board.Hits)
        </dd>
    </dl>
</div>
<div>
    <a asp-area="" asp-controller="Comments" asp-action="Create" asp-route-id="@Model.board.Id">Comment</a> |
    <a asp-action="Edit" asp-route-id="@Model.board.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.comment.First)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.content)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.comment)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BoardId)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.C_UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.content)
            </td>
            <td>
                <input type="hidden" asp-for="@item.BoardId" />
                <a asp-controller="Comments" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Comments" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Comments" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
