@*@model PaginatedList<MvcBoardApp.Models.Board>*@
@model MvcBoardApp.Models.ViewModels.IndexBoardViewModel
@using static MvcBoardApp.Models.DTO.ESrotOrder
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" @*asp-route-pageNumber="@Model.PageIndex"*@>Create New</a>
</p>

<form asp-controller="Boards" asp-action="Index" , method="get">
    <p>
        Subject : <input type="text" name="Searchstring" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Filter" /> |
        <a asp-action="Index">Back to Full List</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @if (Model.EnumSortOrder == ESortOrder.Name || Model.EnumSortOrder == ESortOrder.Basic)
                {
                    <a asp-controller="Boards" asp-action="Index" asp-route-eSortOrder="@ESortOrder.Name_desc" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Html.DisplayNameFor(model => model.Boards.First().UserName)
                    </a>
                }
                else if (Model.EnumSortOrder == ESortOrder.Name_desc)
                {
                    <a asp-controller="Boards" asp-action="Index" asp-route-eSortOrder="@ESortOrder.Name" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Html.DisplayNameFor(model => model.Boards.First().UserName)
                    </a>
                }
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boards.First().Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boards.First().Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boards.First().WriteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boards.First().CommentCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Boards)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-ID="@item.ID" asp-route-pageNumber="@Model.Boards.PageIndex">@Html.DisplayFor(modelItem => item.Subject)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WriteDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentCount)
                </td>
                <td>
                    <a asp-action="Edit" asp-for="@item.UserName" asp-route-ID="@item.ID" asp-route-pageNumber="@Model.Boards.PageIndex">Edit</a> |
                    <a asp-action="Delete" asp-for="@item.UserName" asp-route-ID="@item.ID" asp-route-pageNumber="@Model.Boards.PageIndex">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Boards.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Boards.HasNextPage ? "disabled" : "";
}


<div>
    <ul class="pagination">
        @if (Model.Boards.PageIndex > 1)
        {
            <li class="page-item">
                <a asp-action="Index" 
                   asp-route-pageNumber="1" 
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   asp-route-eSortOrder="@Model.EnumSortOrder" 
                   class="btn btn-default">
                    First
                </a>
            </li>
            <li class="page-item">
                <a asp-action="Index"
                   asp-route-pageNumber="@(Model.Boards.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   asp-route-eSortOrder="@Model.EnumSortOrder"
                   class="btn btn-default @prevDisabled">
                    Previous
                </a>
            </li>
        }
        @for (var i = Model.Boards.StartPage; i <= Model.Boards.EndPage; i++)
        {
            <li class="page-item @(i == Model.Boards.PageIndex ? "active" : "")">
                <a asp-route-pageNumber="@i" 
                   class="page-link" 
                   asp-action="Index" 
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   asp-route-eSortOrder="@Model.EnumSortOrder">
                @i
                </a>
            </li>
        }
        @if (Model.Boards.PageIndex < Model.Boards.TotalPages)
        {
            <li class="page-item">
                <a asp-action="Index"
                   asp-route-pageNumber="@(Model.Boards.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   asp-route-eSortOrder="@Model.EnumSortOrder"
                   class="btn btn-default @nextDisabled">
                    Next
                </a>
            </li>
            <li class="page-item">
                <a asp-action="Index" 
                   asp-route-pageNumber="@Model.Boards.TotalPages" 
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   asp-route-eSortOrder="@Model.EnumSortOrder" 
                   class="btn btn-default">
                    Last
                </a>
            </li>
        }
    </ul>
</div>



