@model PaginatedList<MvcBoardApp.Models.Board>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-pageNumber="@Model.PageIndex">Create New</a>
</p>

<form asp-controller="Boards" asp-action="Index" , method="get">
    <p>
        Subject : <input type="text" name="Searchstring" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Filter" /> |
        <a asp-action="Index">Back to Full List</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().WriteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CommentCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-ID="@item.ID" asp-route-pageNumber="@Model.PageIndex">@Html.DisplayFor(modelItem => item.Subject)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WriteDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentCount)
                </td>
                <td>
                    <a asp-action="Edit" asp-for="@item.UserName" asp-route-ID="@item.ID" asp-route-pageNumber="@Model.PageIndex">Edit</a> |
                    <a asp-action="Delete" asp-for="@item.UserName" asp-route-ID="@item.ID" asp-route-pageNumber="@Model.PageIndex">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div>
    <ul class="pagination">
        @if (Model.PageIndex > 1)
        {
            <li class="page-item">
                <a asp-action="Index" 
                   asp-route-pageNumber="1" 
                   asp-route-currentFilter="@ViewData["CurrentFilter"]" 
                   class="btn btn-default">
                    First
                </a>
            </li>
            <li class="page-item">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @prevDisabled">
                    Previous
                </a>
            </li>
        }
        @for (var i = Model.StartPage; i <= Model.EndPage; i++)
        {
            <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                <a asp-route-pageNumber="@i" 
                   class="page-link" 
                   asp-action="Index" 
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">
                @i
                </a>
            </li>
        }
        @if (Model.PageIndex < Model.TotalPages)
        {
            <li class="page-item">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @nextDisabled">
                    Next
                </a>
            </li>
            <li class="page-item">
                <a asp-action="Index" 
                   asp-route-pageNumber="@Model.TotalPages" 
                   asp-route-currentFilter="@ViewData["CurrentFilter"]" 
                   class="btn btn-default">
                    Last
                </a>
            </li>
        }
    </ul>
</div>



